[2016-08-12 00:19] fwartner opened #4 "How to add a new package?"
Have my driver done and tested but can´t figure out, how to make a PR with my provider.. Maybe it´s because it´s too late over here and i´m tired.. ^^

[2016-08-12 07:15] themsaid commented on #4
Just clone this repo: https://github.com/laravel-notification-channels/skeleton

And then open a new PR here with your new driver :)

[2016-08-12 09:10] gregoriohc commented on #4
It's not better to open an issue with the new channel proposal?
Because PRs here will not be merged and they will always be closed.
By the way, I have a new Twilio channel ready for launch :)

[2016-08-12 09:16] fwartner commented on #4
Me too! :D M channel is also for Twilio.. ^^

[2016-08-12 09:17] gregoriohc commented on #4
Maybe we need a thread (issue) to make the proposals before we start working on the channels XD

[2016-08-12 09:19] fwartner commented on #4
Great idea! Otherwise there would be so many channel twice! :D

[2016-08-12 09:20] gregoriohc opened #5 "Channel proposals"
Add here any channel proposal before start working on it, to avoid duplicate work :)

[2016-08-12 09:20] themsaid opened #6 "New Channel Proposals"
## Suggesting a new channel
Have a suggestion or working on a new channel? Please create a new issue for that service.

## I'm working on a new channel
Please create an issue for it if it does not already exist, then PR you code for review.

This thread is too long, and it will be easier to keep track with suggestions/wip channels split into different issues.

**FAQ:** http://laravel-notification-

[2016-08-12 09:20] #5 closed

[2016-08-12 09:20] themsaid commented on #5
https://github.com/laravel-notification-channels/new-channels/issues/6

Hehe a duplicate for the anti-duplicate issue :D

[2016-08-12 09:21] themsaid commented on #4
hyg https://github.com/laravel-notification-channels/new-channels/issues/6 :)

[2016-08-12 09:21] gregoriohc commented on #5
Hehehe, maybe we also need an issue to avoid that :D

[2016-08-12 09:22] gregoriohc commented on #6
Working on a Twilio channel

[2016-08-12 09:22] fwartner commented on #6
Have done a Twilio Channel.

[2016-08-12 09:23] themsaid commented on #6
@gregoriohc @fwarner Maybe co-author?

[2016-08-12 09:27] fwartner commented on #4
https://github.com/fwartner/laravel-notification-twilio :)

[2016-08-12 09:28] gregoriohc commented on #6
@fwartner compare yours with mine if you want to see if we can merge them: https://gist.github.com/gregoriohc/42a823af7c3d0c86a7e2cef829038526

[2016-08-12 09:30] fwartner commented on #6
Your´s is cleaner.. ^^

[2016-08-12 09:30] fwartner commented on #6
+1 for @gregoriohc

[2016-08-12 09:31] fwartner commented on #6
Haha 😆

[2016-08-12 09:54] gregoriohc commented on #6
Can you create the Twilio repo @themsaid and give us permission?

[2016-08-12 10:02] freekmurze commented on #6
@gregoriohc @fwartner done, do your magic :-) https://github.com/laravel-notification-channels/twilio

[2016-08-12 10:05] fwartner commented on #6
Thanks! :)

[2016-08-12 10:24] gregoriohc commented on #6
@freekmurze do I have permissions?
It gives me an error:
ERROR: Permission to laravel-notification-channels/twilio.git denied to gregoriohc.

[2016-08-12 10:33] gregoriohc commented on #6
Sorry @freekmurze, my bad, I forgot to accept the invitation.

[2016-08-12 11:17] fwartner commented on #6
My chance! :D

[2016-08-12 11:18] alexsoft commented on #6
What about Pushbullet? I'd take it :)

[2016-08-12 11:18] themsaid commented on #6
@alexsoft go Alex, GO! :)

[2016-08-12 12:57] irazasyed commented on #6
Facebook would be good too, I'm exploring now :)

[2016-08-12 13:41] koomai commented on #6
Plivo for SMS - https://github.com/koomai/laravel-plivo-sms

Will use skeleton to move above to this org's repo.

[2016-08-12 13:41] themsaid commented on #6
@koomai 👍

[2016-08-12 13:42] themsaid commented on #6
@irazasyed if you're going to do it let me know :)

[2016-08-12 14:11] alexsoft commented on #6
Code for pushbullet driver is ready. https://github.com/alexsoft/pushbullet
Didn't publish on packagist, of course.
Will write tests on next week.

[2016-08-12 14:15] mpociot commented on #6
@alexsoft awesome, thanks! I created the repo, pushed your code and added you as a contributor

[2016-08-12 14:16] alexsoft commented on #6
@mpociot great, thanks!

[2016-08-12 16:46] mustafaaloko commented on #6
@themsaid Going for Facebook Messenger.

[2016-08-12 16:53] mustafaaloko commented on #6
@irazasyed Let me know if you have already started so I shouldn't move on to avoid duplicates.

[2016-08-12 20:20] arcdigital commented on #6
Hey, gonna add one for AWS SNS and HipChat

[2016-08-12 20:47] leggetter commented on #6
* https://pubnub.com
* https://ably.io
* https://realtime.co
* https://firebase.google.com
* ... any other real-time service provider that you could potentially map to pushing a message on a channel or to a unique identifier of some kind. [Realtime hosted services](http://www.leggetter.co.uk/real-time-web-technologies-guide/#_hosted-realtime-services) are a good fit.
* HipChat
* SendGrid
* MailJet

[2016-08-12 23:33] #4 closed

[2016-08-12 23:59] cs475x commented on #6
I have a working [Discord](https://discordapp.com) channel, though I won't be able to finish/polish it until next week since I work weekends, so hopefully anyone who might need it can wait until then.

[2016-08-14 01:06] isaackearl commented on #6
I'm hoping someone will work on an enhanced mail driver.  The default one is pretty limited and I think it would be great to have options for adding bullet points or a table for an invoice or many other things.  Anyway just a thought!

[2016-08-14 01:39] irazasyed commented on #6
@themsaid @mustafaaloko Yeah, I'm working on it. I'm mostly done in fact. Will create a PR tomorrow or so.

[2016-08-14 09:04] mustafaaloko commented on #6
@themsaid Put my name for PubNub

[2016-08-14 18:24] petericebear commented on #6
What about Messagebird.com integration?
https://github.com/messagebird/php-rest-api

It is an sms provider from the NL but expanding very fast over the rest of the world.

[2016-08-14 19:17] mpociot commented on #6
@petericebear sure - go for it! 👍

[2016-08-14 19:46] petericebear commented on #6
Will do! Are you going to create a repo and invite me to it? Or when its done?

[2016-08-14 19:51] themsaid commented on #6
@petericebear Repo created and you were added as a collaborator with write access :)
https://github.com/laravel-notification-channels/messagebird

[2016-08-14 19:54] themsaid commented on #6
@petericebear use the skeleton repo to speedup your initialisation https://github.com/laravel-notification-channels/skeleton

[2016-08-14 19:57] irazasyed commented on #6
@themsaid Need a repo for Facebook as well. Please create one!

[2016-08-14 19:59] themsaid commented on #6
@irazasyed  hyg https://github.com/laravel-notification-channels :)

[2016-08-15 03:43] koomai commented on #6
@themsaid can you please create a repo for Plivo?

[2016-08-15 08:00] themsaid commented on #6
@koomai repo created 👍

https://github.com/laravel-notification-channels/pilvo

[2016-08-15 11:15] leggetter commented on #6
If you're building a notifications channel and want to try out the Nexmo channel as a comparison please drop devrel@nexmo.com with your API Key and we'll add some credit to your account.

_Oh, and we also have 3 Laracon EU tickets to give away. If you can make it to Amsterdam for 23/24 August then please drop me an email (leggetter@nexmo.com). First come, first served._

[2016-08-15 12:25] christophrumpel commented on #6
@mustafaaloko have you already started with Facebook Messenger, I could do that or help here if needed

[2016-08-15 12:44] themsaid commented on #6
@irazasyed can you please publish your facebook channel code today so that other collaborators may take a look? we have @mustafaaloko and @christophrumpel willing to collaborate, so it'd be great if you can do it soon so that they can join u.

[2016-08-15 12:46] irazasyed commented on #6
@themsaid Sure, Pushing in next 20 mins or so. Writing instructions now.

[2016-08-15 14:04] irazasyed commented on #6
@themsaid Pushed: https://github.com/laravel-notification-channels/facebook

[2016-08-15 14:30] christophrumpel opened #10 "Facebook Notification Installation"
Hey, I wanted to test the Facebook notifications but the package is not yet on Packagist.
Should it work if I just download it and throw it in the vendors folder like `vendor/<vendor name/<package name>`?

Because I get a
[code]

Cheers

[2016-08-15 14:31] christophrumpel commented on #6
@irazasyed https://github.com/laravel-notification-channels/new-channels/issues/10

[2016-08-15 14:31] themsaid commented on #10
@christophrumpel I'm submitting it right now :)

[2016-08-15 14:33] themsaid commented on #10
Done: https://packagist.org/packages/laravel-notification-channels/facebook

[2016-08-15 14:38] #10 closed

[2016-08-15 15:28] iWader commented on #6
@themsaid I'm happy to pickup a nexmo channel is one has not already been started.

[2016-08-15 15:29] themsaid commented on #6
@iWader nexmo is built in with laravel 5.3 already :)

[2016-08-15 15:30] iWader commented on #6
oh, I'll get my coat 😂

[2016-08-15 15:53] themsaid commented on #6
@iWader Wait a minute, there are many other drivers that you can work on :)

[2016-08-15 17:26] iWader commented on #6
@themsaid is anyone working on a pubnub one? I'll happily take that one if its open :)

[2016-08-15 17:32] themsaid commented on #6
Nope, go for it :)

Sent from my iPhone

[2016-08-15 17:49] christophrumpel commented on #6
So is there a list of what is left ?=)

[2016-08-15 17:52] irazasyed commented on #6
How about a Skype and Kik channels?

They both support bots too.

[2016-08-15 18:17] themsaid commented on #6
GitHub Issues maybe?

[2016-08-15 18:20] irazasyed commented on #6
Twitter would be so good too!

DM or Tweet. To notify personally or send public notifications to all followers.

[2016-08-15 18:36] christophrumpel commented on #6
Do you use any package boilerplate code? I would like to checkout Twitter

[2016-08-15 18:37] themsaid commented on #6
@christophrumpel https://github.com/laravel-notification-channels/skeleton

Here you go :)

[2016-08-15 18:37] freekmurze commented on #6
@christophrumpel Yea have a skeleton to help you get started: https://github.com/laravel-notification-channels/skeleton

[2016-08-15 18:37] themsaid commented on #6
@freekmurze haha, second time in a single day.

[2016-08-15 18:38] freekmurze commented on #6
Yup, haha. And for the second time, I'm just a few seconds too late 😄

[2016-08-15 18:39] christophrumpel commented on #6
Haha sry, of course. Benn there already! Guess this day was too long for me already =) thx!

[2016-08-15 18:40] arcdigital commented on #6
@themsaid Can you create a repo for AWS SNS?

[2016-08-15 18:41] arcdigital commented on #6
@themsaid Also a discord repo?

[2016-08-15 23:43] themsaid commented on #6
@arcdigital created one for AWS SNS: https://github.com/laravel-notification-channels/aws-sns :)

[2016-08-15 23:44] themsaid commented on #6
Also another for discord: https://github.com/laravel-notification-channels/discord

[2016-08-16 03:58] cs475x commented on #6
Discord channel is nearly done, I just need to write an artisan command to streamline the bot setup since they have an annoying and undocumented requirement.

[2016-08-16 19:24] themsaid commented on #6
A twitter channel was created for you 🎩

[2016-08-16 20:19] iWader commented on #6
Pubnub channel is ready to push #11 just the tests to write. If anyone has pointers that would be great, relatively new to testing.

[2016-08-16 21:09] JayBizzle commented on #6
I've got a proof of concept [Ionic Push](http://docs.ionic.io/docs/push-overview) Channel up and running, ready and waiting for for it's own little repo 👍

[2016-08-16 21:17] themsaid commented on #6
https://github.com/laravel-notification-channels/pubnub
https://github.com/laravel-notification-channels/ionic-push-notifications

@iWader & @JayBizzle here you go :)

[2016-08-16 21:19] JayBizzle commented on #6
Thanks, just need to tidy up my code then will push ASAP

[2016-08-16 21:34] jhaoda commented on #6
#12 is ready.

[2016-08-17 00:07] irazasyed opened #15 "[Proposal] Add Authors to Organization!"
How about adding channel authors to the organization?

I have some valid points on why I think you should add and would be good to do so.

- When you add the person and list them public, the organization's logo starts showing up in collaborator's profile under "Organizations" they're part of.
- Having the organization under author's profile not only brings a sense of pride but also benefits in sev

[2016-08-17 00:10] irazasyed commented on #6
Guys,

Please take a look at #15 - A proposal to add authors to the organization. Suggestions/Thoughts are welcome!

Thanks!

[2016-08-17 06:19] javidsapand commented on #6
@themsaid Will work on [Ably](https://www.ably.io/)

[2016-08-17 07:16] freekmurze commented on #15
Hi thanks for you suggestion. I highly appreciated that you listed all those point.

We'll discuss this internally and get back to you!

[2016-08-17 07:59] freekmurze commented on #15
We agree with your points and will start adding all authors as members of the organisation soon.

Authors will only be able to write to their own repo.

Thank you again for suggesting this to us.

[2016-08-17 07:59] #15 closed

[2016-08-17 08:28] mattheworiordan commented on #6
@javidsapand if you need any help with Ably, please shout, happy to help wherever you would like assistance.

[2016-08-17 16:25] irazasyed commented on #15
Thanks for accepting my proposal and taking swift decision.

I'm glad you guys considered it. Highly appreciated :)

Sounds good about the write access to their own repo, that's how it should be. Perfect 👍

Thank you!

[2016-08-17 20:21] barryvdh commented on #6
We (Fruitcake) are going to create a plain APN (Apple Push) en GCM (Android Push), without 3rd party.
Is it okay if I just use my own organisation and still be listed? Like to be in my own control ;)

[2016-08-17 21:16] freekmurze commented on #6
Hi Barry,

thanks for contacting us.

we’ve discussed your question and we think it’s best that all the notifications packages that are associated with our organisation are developed under our organisation. We do like that every package works more or less the same, so our users can easily use any of the packages.

Should we setup two repo's for you? Of course we’ll give you write access to your ow

[2016-08-17 21:39] barryvdh commented on #6
Hey,  no thanks,  I'll just keep them under my own organization.
I understand your concerns. Perhaps you could consider adding a 'unofficial' or external list of notification channels, to prevent people from doing the same work, but still making a clear distinctions between your own channels and the rest.
(of course I will still follow the notification guidelines and common best practices, but lik

[2016-08-18 07:42] freekmurze commented on #6
Maybe we could do that, ping us when you're ready with your packages.

[2016-08-18 08:36] sid-bg commented on #6
Hi @barryvdh, love your work but I think you're being a tad selfish in this situation.

In my opinion, all channels not native to the framework are 'unofficial'. So there's no point in listing 'unofficial' channels. You want to retain control of your channel but want to be promoted under another organization's umbrella.

You should be **honest** and clarify that you want the channels to be under y

[2016-08-18 08:48] barryvdh commented on #6
You think I'm selfish because I'm publishing open source channels for free, instead of keeping it private?

1. Yes, because I spend my companies time and resources on this (we we're using GCM/APN already internally, but I asked the developers to move it to a package for Laravel notifications), I do like to get recognition. But I don't think there is anything wrong with that.
2. Write access !== in

[2016-08-18 08:59] sid-bg commented on #6
Sorry, I didn't say you're selfish for doing open source. I said you're selfish for wanting your packages promoted by another organization. This is opening a Pandora's box where everyone wants to do things their own way and be listed here.

Just my opinion. I'm not the one in charge here.

[2016-08-18 09:02] mpociot commented on #6
Just to clear things up:

Please leave this kind of drama out of here.
If Barry doesn't want to publish his packages under this organization that is **totally fine** and I don't agree with you that he is selfish about this.

His package, his company, his decisions. That's it.

If I was developing a notification package that is essential for my company I would probably release it on my own too, so

[2016-08-18 09:08] sid-bg commented on #6
No drama. Just don't list them here. That's all I said. Otherwise you'll have to come up with rules and quality control for all external packages that want to be listed.

Last Post.

[2016-08-18 11:52] irazasyed commented on #6
Well, the so-called "drama" just opened up some valid points to consider and some concerns.

- While I don't disagree with @barryvdh's points and concerns (They make sense), I also don't think @sid-bg is wrong to say; the package should not be listed. Speaking of which, I'll mention all my points and the concerns associated with this matter and some things you need to consider to improve (Since we

[2016-08-18 12:23] barryvdh commented on #6
That was exactly what is was afraid of, glad I'm not just being paranoid ;)

The question is also what the goal is of this organisation? Is it:
A. Providing a (curated) list of Notification Channels, that follow good standards and are well maintained.
or
B. Maintain as much Notification Channels as possible, manage contributions and enforce standards on all channels.

If it's A, there is zero bene

[2016-08-18 12:35] freekmurze commented on #6
Hi,

thanks for your questions. This is the first time that Marcel, Muhammad and I are working with the community in this way, so we are figuring a lot of things out as we go.

Our goal is to create quality notification packages and we focus on the developer happiness that Laravel ingrained us with. There are two parts to that developer happiness. The users of the packages should be able to easily

[2016-08-18 12:50] jhaoda commented on #6
Good news! And more accurate code reviews, please, because I had to do some fixes after that.

[2016-08-18 13:28] themsaid opened #16 "Better approach for handling sending failures"
@barryvdh just has got this Pull Request merged into the core:
https://github.com/laravel/framework/pull/14874

I believe we should fire that event instead of throwing an exception in case of failure, that way we don't halt the script preventing other successful channels from woring.

What do you guys think?
@laravel-notification-channels/collaborators

[2016-08-18 13:31] barryvdh commented on #16
Depends on the failure I think.
If it's something that is a configuration error (eg. forgot your key) or a glitch (connection timed out or something), an Exception would probably be okay (if it's queued and would be restarted). (If https://github.com/laravel/framework/issues/14785 is discussed).

In my case it was that we need to handle the response gracefully, eg. it's expected behavior that a no

[2016-08-18 13:39] irazasyed commented on #6
@freekmurze Thanks for the answers and taking things sportingly, I appreciate it.

I understand you guys are new to this community type of project and you guys are doing great taking up suggestions, responding, helping, improving and giving your time which would keep the whole community healthy and stable as we grow.

Sounds good about the goal of this project and indeed, It's a good experience fo

[2016-08-18 13:41] themsaid commented on #6
Yes We'll update the access level, just after work hours. Hard to update repos one by one on GitHub while in the middle of coding :D

[2016-08-18 13:42] irazasyed commented on #6
@themsaid That's fine, Nothing urgent :)

[2016-08-18 14:08] mpociot commented on #6
@irazasyed I updated all repositories and set up the right privileges.
If I accidently missed someone, please ping me and I'll fix it.

I also added our small set of rules to our [website](http://laravel-notification-channels.com/).

[2016-08-18 14:32] irazasyed commented on #6
@mpociot Thanks! 👍

[2016-08-18 17:49] cs475x commented on #6
@mpociot I'm still not added to the org and have not been given access to the [discord](https://github.com/laravel-notification-channels/discord) repo.

[2016-08-18 18:02] mpociot commented on #6
@cs475x done

[2016-08-18 21:43] irazasyed commented on #6
I created a new one for [Hooks](http://www.gethooksapp.com/) app: https://github.com/lukonet/laravel-hooks-notification-channel

You can add it under your external packages section or whatever you're going to call it.

[2016-08-19 07:24] barryvdh commented on #6
Our GCM (Google Cloud Messaging) package is also working now :)
https://github.com/fruitcake/laravel-gcm-notification-channel

Do with it as you please ;)

[2016-08-20 15:48] nbourguig commented on #6
Here is a driver for Pivotal Tracker. https://github.com/nikaia/laravel-notifications-pivotaltracker

Code and tests are ready ;-)

[2016-08-20 19:23] etiennemarais commented on #6
Well looking at Trello, I think it might be good to make a Jira/Github issues notifications channels. What are your thoughts?

[2016-08-20 20:03] themsaid commented on #6
@nbourguig would you us to include the driver into our organisation on GitHub?

[2016-08-20 20:04] themsaid commented on #6
@etiennemarais Yup, I believe all these platforms has a notification action in one name or another.

[2016-08-20 21:09] nbourguig commented on #6
@themsaid Yes of course.

[2016-08-20 22:17] themsaid commented on #6
@nbourguig created a repo and added you as admin:
https://github.com/laravel-notification-channels/pivotal-tracker

:)

[2016-08-21 04:37] ahmedash95 commented on #6
@themsaid  about twitter notification .. i coded it , but until now it just send a message to user , should i make it tweet too or that's enough .. also the message is text only

[2016-08-21 05:58] christophrumpel commented on #6
Hey @ahmedash95, I already did Twitter. I will push it in the next 2 hours. My first version also only supports text, but the next one will handle images too.

[2016-08-21 15:20] ahmedash95 commented on #6
@christophrumpel oh sorry man , I didn't notice that you are working on it.

[2016-08-21 16:57] christophrumpel commented on #6
@ahmedash95 no problem, sorry you didn't see it. I just pushed a first version. More to come =)

[2016-08-21 17:30] kristiandrucker commented on #6
Hi tomorrow I will try to make a library for my gammu api located [here](https://github.com/kristiandrucker/gammuApi). You will be able to send sms messages from your gammu box using this api.

[2016-08-21 17:32] kristiandrucker commented on #6
Ok thanks :)

[2016-08-21 17:33] casperboone commented on #6
@kristiandrucker I think someone has done Gammu already, https://github.com/laravel-notification-channels/new-channels/pull/18

[2016-08-21 17:34] themsaid commented on #6
woops, sorry didn't notice.

[2016-08-21 17:38] kristiandrucker commented on #6
That app needs to have access to db. But my just uses api with auth keys. Should I do it or no?

[2016-08-21 17:40] themsaid commented on #6
@kristiandrucker yes please, if you can avoid DB while maintaining functionality that'd be better actually.

[2016-08-21 17:41] kristiandrucker commented on #6
Ok. But my API lacks the multi modem support because I only have one modem.

[2016-08-22 07:27] kristiandrucker commented on #6
Ok. Made it. Should I push it to my repo for now?

[2016-08-24 05:59] barryvdh commented on #6
@freekmurze With the rules cleary laid out and admin rights, I'm okay with moving to this repo.

Shall I transfer my repos here?

[2016-08-24 09:06] themsaid commented on #6
@kristiandrucker sent you a comment on the other Gammu channel PR https://github.com/laravel-notification-channels/new-channels/pull/18

[2016-08-24 09:13] themsaid commented on #6
Hello @barryvdh :)
I've created 2 repos for CGM and APN notifications and added you as an Admin.

[2016-08-24 12:54] ahmedash95 commented on #6
@themsaid is it okay if i build one for http://sms.com.eg/ ?

[2016-08-24 14:03] jhaoda commented on #6
@themsaid previously i created a channel for sms**c**.ru (`smsc-ru`). Now i want to create another channel for sms.ru, but i'm afraid some confusion if i named it `sms-ru`. Any ideas?

[2016-08-25 02:59] poxin13 commented on #6
Does it make sense to do a channel for HTML5 Desktop Notifications? Could possibly go a step further and tie it into Echo for users signed in, etc.

[2016-08-25 04:04] irazasyed commented on #6
@poxin13 There's already one using [OneSignal](https://github.com/laravel-notification-channels/onesignal) which is quite good.

[2016-08-25 04:05] irazasyed commented on #6
@themsaid Are we still listing or no? :)

Ref: [Hooks Channel](https://github.com/laravel-notification-channels/new-channels/issues/6#issuecomment-240866691)

[2016-08-25 04:13] irazasyed commented on #16
Event firing for failure makes sense 👍

Except for critical cases where it needs attention like @barryvdh mentioned, In cases of config error or as such, it makes sense to throw an exception instead of just firing an event. But the problem with queues should still be considered.

So, are we updating the channels or wait for some time?

[2016-08-26 15:14] ElfSundae commented on #6
I will work on [BearyChat](https://bearychat.com) channel, and I created [Laravel-BearyChat](https://github.com/ElfSundae/Laravel-BearyChat) before.

I have read the 5.3 doc just now. Should I clone this repo and submit a PR to the new-channels after I finished development? Or please @irazasyed could create a new BearyChat channel in the Laravel Notification Channels and give me admin rights?

[2016-08-26 15:20] mpociot commented on #6
@ElfSundae I just created a repository for you and gave you admin rights to it 👍

[2016-08-26 15:24] ElfSundae commented on #6
Thank you @mpociot , It is awesome ✌️

[2016-08-27 04:59] irazasyed commented on #6
Here are some more services if anyone wants an idea to build a channel:

### 📡 IFTTT - Open Source Alternatives

- [Bip](https://bip.io/) // [Docs](https://github.com/bipio-server/bipio/wiki)
- [Huginn](https://github.com/cantino/huginn) // [Docs](https://github.com/cantino/huginn/tree/master/doc)

### 📲 Notification Services

- [Pushify](https://pushify.com/) // [Docs](https://pushify.com/api)
-

[2016-08-27 07:25] themsaid commented on #6
@ahmedash95 go for it :)

[2016-08-28 06:26] ElfSundae commented on #6
[bearychat](https://github.com/laravel-notification-channels/bearychat) please review and publish it on packagist.

[2016-08-29 01:51] jhaoda commented on #6
@themsaid https://github.com/laravel-notification-channels/new-channels/issues/6#issuecomment-242075601

[2016-08-29 07:12] irazasyed commented on #6
Here's an interesting API:

If someone creates a channel, it could be used to notify their API to take some action like content moderation for example.

[2016-08-31 20:47] JayBizzle commented on #16
Are we close to a decision on this. I like what @barryvdh did in his [GCM channel](https://github.com/laravel-notification-channels/gcm/blob/master/src/GcmChannel.php#L90-L106)

[2016-09-01 00:22] ElfSundae commented on #6
Is there anyone working on [laravel-notification-channels/apn](https://github.com/laravel-notification-channels/apn) ?

[2016-09-01 05:27] barryvdh commented on #6
I have a basic one,  will try to push today. (using zend apn)

[2016-09-01 05:31] ElfSundae commented on #6
@barryvdh Great! 👍

[2016-09-01 07:57] themsaid commented on #6
@jhaoda sorry I totally missed your comment, go for it and we'll figure out the name thing :)

[2016-09-01 08:42] barryvdh commented on #6
@ElfSundae Initial version is up, but work in progress. But you're welcome to test/help :) (Not on Packagist yet though)

[2016-09-01 08:43] ElfSundae commented on #6
Thanks, I will try.

[2016-09-03 20:54] roulendz commented on #6
It would be awesome of you implimented this on
https://smsgateway.me/
Self hosted SMS Gateway!

[2016-09-04 00:26] luisdalmolin commented on #6
I created a driver for Zenvia (An SMS service). Code are done!

https://github.com/luisdalmolin/laravel-zenvia-channel

[2016-09-25 22:25] mattheworiordan commented on #6
@javidsapand you said:

Did you make any progress with that?  Should we help, or get someone to look at it if you are busy?  Thanks for the offer, appreciated.

[2016-09-30 14:03] billmn commented on #6
@themsaid I'm working on PushCrew channel

[2016-10-05 18:51] billmn commented on #6
@themsaid I'm almost ready for PushCrew channel, missing only some tests. Can you create the repository?

[2016-10-06 09:35] billmn commented on #6
@themsaid can you please create a repo for PushCrew? https://github.com/billmn/pushcrew

[2016-10-06 09:38] mpociot commented on #6
@billmn I created the repo and added you as a repo administrator
https://github.com/laravel-notification-channels/pushcrew

[2016-10-13 15:31] Omranic commented on #6
@mpociot @themsaid @freekmurze I'm working on Authy channel, could you please create a repo. Thanks

[2016-10-15 15:19] Omranic commented on #6
Here we go, ready for usage.. https://github.com/laravel-notification-channels/authy
If everything seems fine, would you please:
- Add package to Packagist
- Add Packagist integration to Github repo
- Add @Omranic as package maintainer on Packagist
- Add @Omranic as a member of @laravel-notification-channels organization

Keep up the good work 🙂

[2016-10-18 15:45] billmn commented on #6
@mpociot Did you seen the code? https://github.com/laravel-notification-channels/pushcrew/issues/1

[2016-10-24 07:02] freekmurze commented on #6
@omranic I'll take care of your package later today.

[2016-11-10 03:15] ahmedash95 commented on #6
@themsaid @freekmurze

https://github.com/ahmedash95/laravel-facebook-poster-notification

I've created a package for posting in facebook walls and pages , could you please create a repo for it .  thanks

[2016-11-10 08:38] freekmurze commented on #6
@ahmedash95 I've created a new repo for you and added you as an admin for that repo.

In that repo you'll find our boilerplate that is used for all packages under this organization. Try to use it as much as possible. For users it is very easy if all packages work more or less the same.

Have fun creating your package!

[2016-11-11 21:23] billmn commented on #6
Hi @mpociot, are you ready to setup packagist, travis and the othe services?
https://github.com/laravel-notification-channels/pushcrew/pull/2

[2016-11-19 10:12] erdemkeren opened #24 "Is this project still alive?"
Hello, looking at the dates of the pull requests I see an inactivity and wondering if the process is under active maintenance.

[2016-11-20 09:33] #24 closed

[2016-12-04 15:50] bruce-thomas commented on #6
@mpociot @themsaid @freekmurze Hello, I'm working on a channel for [Octopush SMS](http://www.octopush.com/) service. Could you please create a repo for this channel ?
The package is available here : https://github.com/bruce-thomas/octopush/
Thanks a lot !

[2016-12-05 18:25] mbm-rafal commented on #6
Hi guys,

do you know what about aws-sns implementation? No code in repo at this moment.
I really need this badly, so if no luck I think I'll be jumping to implement one by myself.

[2016-12-08 21:00] jozefbalun commented on #6
Hi,

You could add to the checklist google firebase service (https://firebase.google.com/) ? Or migrate this solution https://github.com/alfa6661/laravel-firebase, to this repo ?

Many thanks!

[2016-12-14 07:39] nterms commented on #6
Starting on a [Localytics](https://docs.localytics.com/dev/push-api.html#push-api) channel

[2016-12-17 12:06] barryvdh commented on #6
I think both @alfa6661 (https://github.com/alfa6661/laravel-firebase) and @benwilkins (https://github.com/benwilkins/laravel-fcm-notification) stared on firebase.

If they are not interested in porting over to laravel-notification-channgels, I'd be wiling to create my own here.

[2016-12-17 12:54] alfa6661 commented on #6
@barryvdh  i will.
i haven't had a chance to create a PR yet.
hope it can be done by tomorrow.

[2016-12-17 13:01] benwilkins commented on #6
@jozefbalun @barryvdh Yes, mine is working. I'm using it in production. I'll submit a PR to port it over to here.

[2016-12-17 13:23] barryvdh commented on #6
You can ask @freekmurze to create a repo with write access, not sure which one of you has the better on though ;)

[2016-12-24 17:56] YaroslavMolchan commented on #6
@mpociot @themsaid @freekmurze Hello.
I've created a new [https://github.com/YaroslavMolchan/laravel-notification-vk](package) for posting messages in russian social network [vk.com](https://vk.com).

Now it`s send only text messages. In some days I add attachments and stickers for messages and will expand README.md with more examples.

Could you please create a repository? Thanks.

[2016-12-25 20:47] clarkeash commented on #6
@mpociot @themsaid  @freekmurze Hi, Happy Holidays.

I saw there has been no commits to https://github.com/laravel-notification-channels/aws-sns is anyone working on this? I can take it on if no one else is doing so.

[2016-12-29 17:45] jozefbalun commented on #6
Hi,

I created new laravel notification channel for [textmagic](https://www.textmagic.com/docs/api) service, my code is here (https://github.com/jozefbalun/textmagic) could you please create repo for package ?

many thanks

[2017-01-04 12:39] e2kaneko commented on #6
Cheers to 2017. I created a driver for [Chatwork](http://www.chatwork.com/).
Please review [#26](https://github.com/laravel-notification-channels/new-channels/pull/26)

[2017-01-10 21:30] mnfgul commented on #6
Hi @mpociot @themsaid @freekmurze,

I did not noticed these proposal issue so I have created a channel for AWS SNS. You can check it here [https://github.com/mnfgul/skeleton](https://github.com/mnfgul/skeleton).

I see that aws-sns is already created. However, there is not commits yet. Is it possible to use the channel I created for this.

Thanks.

[2017-01-12 13:50] sgotre commented on #6
starting on a [lox24](https://www.lox24.eu) channel

[2017-02-22 16:46] dexbarrett commented on #6
I could start a channel for [Clockwork Sms](https://www.clockworksms.com/) I already created a standalone package at https://github.com/dexbarrett/clockworksms, so it would be a matter of adapting it as a notification channel.

[2017-03-02 18:15] a-komarev commented on #6
Our company made a Rocket.Chat notification channel. Will take couple more days to cover it with tests and prepare for public release.
How can I get the repository within current namespace?

[2017-03-02 20:18] a-komarev commented on #6
First Rocket.Chat notification channel release: https://github.com/cybercog/laravel-notification-channel-rocket-chat

[2017-03-03 15:12] service-paradis commented on #6
It would be great to have a channel for Hubspot CRM

[2017-04-09 04:06] petrejonn commented on #6
someone should please help me create a channel for http://sms.bbnplace.com/

[2017-05-05 02:03] lukewaite commented on #6
Working on a PagerDuty channel now.

[2017-05-13 14:56] chrisbjr commented on #6
Hi all, haven't seen an FCM (Firebase Cloud Messaging) channel and we need this for multiple projects so I've come up with our own and is now working well in said projects. Tests will follow but here is the repo now:

https://github.com/chrisbjr/fcm

[2017-08-07 10:12] msonowal commented on #6
Please merge my PR
which adds ability to support textlocal.in SMS services

[2017-08-22 13:23] rakesh-ideal commented on #6
Hello, I think we need to add the FCM the GSM is deprecated now.

[2017-10-20 09:50] chrisbjr commented on #6
Hi @themsaid FCM channel looks good so far although still missing some tests. Any chance on adding it? https://github.com/CoreProc/fcm

[2017-11-29 22:51] RicardoRamirezR commented on #6
Hi there I did one for [Infobip](https://www.infobip.com/) [here](https://github.com/RicardoRamirezR/infobip)

[2018-01-22 09:33] Dronax opened #42 "VK notification for groups"
Hello, I did not find where to write. I write here. Please add new notification channel for groups vk.com? He's have chat bots and api. Link: https://vk.com/dev/bots_docs Thanks ^_^

[2018-02-08 15:11] dwightwatson commented on #6
Hey, would you guys like any help with maintaining these notification channels? Seems like there are a lot of missed opportunities for getting some good channels added (especially in regard to FCM/APNS for native mobile notifications), but also some of the existing channels are falling behind on issues and PRs. I'd be more than happy to help out if it's something you'd be interested in - would be

[2018-02-08 15:15] barryvdh commented on #6
Sure, I can access you to gcm and APN if you want?

[2018-02-08 15:20] dwightwatson commented on #6
Yeah, I'm down for APN. I don't know too much about GCM but would be more than happy to work on an FCM/Firebase implementation (which is Google's replacement for GCM).

[2018-03-12 16:04] mauthi commented on #6
Submited an Asana channel: https://github.com/laravel-notification-channels/new-channels/pull/43

[2018-04-10 13:37] koenhoeijmakers commented on #6
@dwightwatson any news on your Fcm/Firebase implementation?

[2018-04-10 13:40] dwightwatson commented on #6
I've been using @chrisbjr's package listed above and it works perfectly. Would like to see it become an official package if possible.

[2018-04-10 13:48] barryvdh commented on #6
@themsaid If you @chrisbjr still wants to, perhaps create an repo in this organisaton, so it can be found more easily?

[2018-04-14 17:29] chrisbjr commented on #6
@barryvdh @themsaid I'm definitely still up for it.

[2018-04-15 08:47] Barmunksu commented on #6
@mpociot @themsaid @freekmurze hello, YaroslavMolchan created vk channel package 2 years ago, why didn't you take this package? I wanted to create a new one for you, but I found out someone was trying to do it...

[2018-06-14 08:14] larsbo commented on #6
What about a Stride channel? It is going to replace HipChat slowly and a lot of users are already using it.

[2018-06-21 06:33] saidbakr opened #45 "Viber"
I suggest to add [Viber](https://developers.viber.com/docs/api/rest-bot-api/) project to be a channel implemented using Laravel. Viber, already, has [PHP sdk](https://github.com/Bogdaan/viber-bot-php) for Viber api.

[2018-08-09 07:29] huglester commented on #6
Hello,

I have developed channel for SMS sending via: http://www.esms.lt/
How I can share it here?

[2018-09-20 12:33] Jamesking56 commented on #6
I might look into a GitLab Issues channel - so Laravel can make a GitLab issue when I notify about something

[2018-09-27 07:49] trondhuso commented on #6
I need a notificator for publishing on tumblr and pinterest. I'll be looking at the skeleton to see if I can manage to create any of these. Any guidance and/or others stepping up/in is welcome. Great work with the notification packages. Used it successfully for implementing posting on Twitter.

[2018-09-27 10:38] trondhuso commented on #6
Stride has partnered with slack. So the slack notification should suffice.

[2018-11-30 15:50] diegosurita commented on #6
I propose Matter most channel.
API doc: https://api.mattermost.com/

[2019-02-02 20:10] buttjer commented on #6
I propose Microsoft App Center Push API
https://docs.microsoft.com/en-us/appcenter/push/pushapi
may helpfull: https://github.com/kingscode/appcenter-push

[2019-02-16 01:38] hafael commented on #6
[TotalVoice Notification Channel](https://github.com/hafael/totalvoice-notification-channel) v1.0 done (pull requested)

[2019-02-16 01:39] hafael commented on #6
all tests passed

[2019-03-07 15:30] ftw-soft commented on #6
I propose Intercom Notification Channel
https://github.com/ftw-soft/intercom-notification-channel
API it uses https://developers.intercom.com/intercom-api-reference/reference#admin-initiated-conversation

[2019-03-19 16:43] andreshg112 commented on #6
I propose [Pusher API Notifications](https://pusher.com/docs/javascript_quick_start). How can I make the pull request?
https://github.com/andreshg112/pusher-api-notifications

[2019-06-02 14:25] axlon commented on #6
I Propose an implementation for [Pushwoosh](https://www.pushwoosh.com/), which can be found [here](https://github.com/axlon/pushwoosh).

I have waited with implementing integration services because of the potential move to this organization, other than that it's currently stable and I'm getting ready to release version 1.0

[2019-08-05 14:27] NiltonMorais commented on #6
I need Microsoft App Center Push Api, propose by @buttjer

[2019-09-10 11:06] atymic opened #70 "Audit existing channels"
Run through all of the existing channels and:
- Deprecate services that no longer exist
- Clean & Tag issues
- Update website versions
- Update packages to support latest laravel version

- [x] https://github.com/laravel-notification-channels/apn
- [x] https://github.com/laravel-notification-channels/twitter
Maintained by christophrumpel, up to date.
- [x] https://github.com/laravel-notification-c

[2019-09-10 11:29] atymic commented on #6
Hey everyone 😄

I'm going to try and get through some of these proposals soon.

Sorry for the delays!

[2019-09-10 11:34] atymic commented on #42
Please create a PR :)

[2019-09-10 11:34] atymic commented on #42
Please create a PR :)

[2019-09-10 11:34] #42 closed

[2019-09-13 23:09] atymic opened #55 "Ably"
https://github.com/laravel-notification-channels/ably

If someone is interested in working on the channel we already have a repo ready :)

[2019-09-13 23:09] atymic opened #56 "AWS SNS"
https://github.com/laravel-notification-channels/aws-sns

In progress, see:
https://github.com/laravel-notification-channels/aws-sns/issues/1

[2019-09-18 05:31] chrisbjr commented on #6
Hi @atymic yes, would be happy to move the package here. Let me know when you've created a repo for it. I'll move it right away. DM on twitter is welcome too (same username).

[2019-09-18 21:28] atymic commented on #6
@chrisbjr

I've created a repo and added you as an admin.
See here:
https://github.com/laravel-notification-channels/fcm/issues/1

Thanks!

[2019-09-27 01:06] atymic opened #57 "esms.lt"
Suggested and WIP by @huglester

[2019-09-27 01:07] atymic opened #58 "Pusher API Notifications"
Suggested and WIP by @andreshg112

https://github.com/andreshg112/pusher-api-notifications

[2019-09-27 01:08] atymic opened #59 "Intercom"
WIP here by @ftw-soft
https://github.com/laravel-notification-channels/new-channels/pull/46

[2019-09-27 01:09] atymic opened #60 "Mattermost"
Suggested by @diegosurita

[2019-09-27 01:12] atymic opened #61 "Hubspot CRM"
Suggested by @service-paradis

[2019-09-27 01:13] atymic opened #62 "Rocket Chat"
Repo exists:
https://github.com/cybercog/laravel-notification-channel-rocket-chat/issues/2

[2019-09-27 01:16] atymic commented on #56
cc @mnfgul would you be interested in this one?

[2019-09-27 01:18] atymic commented on #56
@clarkeash are you still interested also?

https://github.com/laravel-notification-channels/new-channels/issues/6#issuecomment-269136911

[2019-09-27 01:20] atymic commented on #6
I'm closing this issue now, in future we'll split discussions out into issues based on service so it's easier to keep track :)

[2019-09-27 01:20] #6 closed

[2019-09-27 10:05] clarkeash commented on #56
@atymic No, I don't have a need for this anymore

[2019-09-27 23:45] atymic commented on #56
Ok, no worries :)

[2019-09-27 23:48] atymic opened #63 "Smsapi"
https://github.com/laravel-notification-channels/smsapi

The previous maintainer is no longer working with PHP. If anyone would like to adopt the package, let me know.

[2019-09-27 23:54] atymic opened #64 "Pubnub"
Repo exists here:
https://github.com/laravel-notification-channels/pubnub

Maintainer needed, let me know if you would like to adopt the package

[2019-09-30 17:09] simonkub opened #65 "sipgate"
Hey,

I wrote a notifications driver to send sms via [sipgate](https://sipgate.de).

Are you interested in publishing it your website and move the code in your organisation?

You can find it here: https://github.com/simonkub/laravel-sipgate-notification

[2019-10-17 08:08] atymic opened #67 "Channel Deprecations Proposal"
I propose to deprecate the following channels

- [x] https://github.com/laravel-notification-channels/evernote
17 downloads in in 3 years
- [x] https://github.com/laravel-notification-channels/wunderlist
28 downloads in in 3 years
- [x] https://github.com/laravel-notification-channels/todoist
60 downloads in in 3 years
- [x] https://github.com/laravel-notification-channels/gammu
Author has decided

[2019-10-20 02:06] atymic commented on #65
@sum

[2019-10-20 02:10] atymic commented on #65
Hey @simonkub

I've created the repo here:
https://github.com/laravel-notification-channels/sipgate

Please PR the code there and we'll review it. Have created an issue to track the launch here:

https://github.com/laravel-notification-channels/sipgate/issues/1

[2019-10-21 00:06] atymic commented on #65
Closing this issue as the channel is going live 🎉

[2019-10-21 00:06] #65 closed

[2019-10-21 23:44] atymic commented on #67
Closing this as the packages have been deprecated. If you'd like to adopt one, please comment on this issue and we'll consider bringing it back with you as the maintainer.

[2019-10-21 23:44] #67 closed

[2019-10-22 00:53] dwightwatson opened #69 "Channel interfaces/templates for common patterns"
I wonder if there is a good opportunity to introduce some base channel, or channel interfaces to be used across the board in order to drive consistency.

In looking after `apn`, `facebook-poster` and the now deprecated `fcm` I've come across a few recurring problems that I would love to have a consistent answer for.

* How do we handle a channel having multiple configurations? For example, sending

[2019-10-22 00:54] atymic commented on #69
I've moved the issue to the `channels` repo.

I think having guidelines around how the channels work is a great idea.

I'll have a look into this more when I have some spare time :)

[2019-10-22 01:44] atymic opened #71 "Create maintainer list"
We should create a list of repos, and who maintains each one. That way, if there are issues we know who to contact.

[2019-10-22 03:22] atymic commented on #71
Maybe worth keeping it in the website channel so we can use it pragmatically for this feature: https://github.com/laravel-notification-channels/website/issues/4

[2019-10-24 04:15] irazasyed opened #72 "REFL.me"
Just came across this new platform: https://refl.me/

Looks interesting. It's still in beta and it seems like polling from the data source than pushing from the server.

Let's explore this for a possible channel in the near future.

[2019-10-24 04:21] irazasyed commented on #71
How about an `awesome-laravel-notification-channels` list with channel name, author, stars and simple description?

It would serve as a directory and possibly open for addition to other channels that are outside this org as alternate channels (depending on its quality). And ofc with it we'd know who to contact.

[2019-10-24 04:29] irazasyed commented on #69
+1 for this. There were previous discussions regarding handling failed notifications prior to the introduction of the event in Laravel and some chose to use exceptions and some used event method. So if we use multiple channels, there's always inconsistency with failed notifications due to the inconsistency. Perhaps, we should go with the official event method and have all the channels updated besi

[2019-10-24 07:45] lkloon123 opened #73 "Channel proposal"
Hi, i'm currently working on a channel for [MoceanApi](https://moceanapi.com/)

repo url: https://github.com/lkloon123/moceanapi

will send a pr when done

[2019-10-24 08:57] lkloon123 commented on #73
PR has been sent #74

[2019-10-24 08:57] #73 closed

[2019-10-24 09:24] prakashchhetri opened #75 "Burst SMS"
Website: https://www.burstsms.com.au/
API: https://www.burstsms.com.au/sms-api

[2019-10-24 09:26] atymic commented on #75
I'd be happy to help with this one if you are want to have a go.

[2019-10-26 01:52] yousuf-hossain-shanto opened #76 "Walletmix Sms channel"
Repo Link - https://github.com/yousuf-hossain-shanto/walletmix-sms-channel

[2019-10-26 01:55] atymic commented on #76
Hi @yousuf-hossain-shanto

As far as I can see, there's no way to sign up for the service on the walletmix site (it seems to be an agency?)

[2019-10-26 04:12] yousuf-hossain-shanto commented on #76
Yes, Walletmix is a payment gateway and SMS service provider in Bangladesh

[2019-10-26 05:55] atymic commented on #76
Can you provide a link to the sign up and documentation pages please

[2019-10-26 07:43] yousuf-hossain-shanto commented on #76
as far as I know, you must contact sales for their SMS API, after the business agreement process they will send you all credentials and links. For reference, you can check bellow link

http://sms.walletmix.biz

[2019-10-26 07:48] atymic commented on #76
I don't think it's worth having them as a provider, as it's very niche. We may re-consider in the future if they have an open signup process.

Thanks for the suggestion, though :)

[2019-10-26 07:48] #76 closed

[2019-10-27 16:25] fsavina commented on #56
@atymic I can take this on. I've recently done an SNS integration for a project that I was thinking about converting into a package

[2019-10-27 20:32] atymic commented on #56
Hey @fsavina

That would be awesome!
Feel free to PR against the repo:
https://github.com/laravel-notification-channels/aws-sns

I will review and add you as an admin once merged :)

[2019-10-29 19:31] fsavina commented on #56
@atymic ok I'll be in touch as soon as I get some spare time!

[2019-10-30 01:09] atymic commented on #69
If anyone is interested in a PR feel free to do so and I'll review.

[2019-11-04 11:22] atymic commented on #70
Woohoo! It's done.
We're all up to date. I'm closing this now and further issues can be raised in the respective repos.

[2019-11-04 11:22] #70 closed

[2019-11-04 23:54] atymic commented on #71
I don't think that's really necessary. I would toy with the idea of listing 3rd party channels on the website however (would require some changes, but since it's a BC break to move them under over namespace I think it's ok).

Maintainer PR here: https://github.com/laravel-notification-channels/website/pull/11

[2019-11-06 04:25] irazasyed commented on #71
Alright, Sounds good.

I just saw the new changes. Looks good, perfectly aligned and consistent across all pages which makes it easy to know the maintainer 👍

[2019-11-09 08:01] #71 closed

[2019-12-12 04:50] dwightwatson commented on #69
[Laravel's Nexmo channel now supports a `via` method to pass in a custom Nexmo client](https://github.com/laravel/nexmo-notification-channel/pull/30), which is set on the `NexmoMessage`. This could set the precedent for customising configurations.

Tend to agree that we should also adopt the provided event rather than throw an exception, however it does have a downside. A failed notification on a

[2020-01-06 02:32] vonec opened #82 "FCM"
any updates on FCM notifications

[2020-01-13 03:22] claudsonm commented on #56
@atymic the repository https://github.com/laravel-notification-channels/aws-sns is empty. Therefore, it can't be forked. I did as instructed on the https://github.com/laravel-notification-channels/channels repo and pushed to that repo for review.

Could you check it out?

[2020-01-14 21:37] atymic commented on #56
Channel Live 🎉  Thanks @claudsonm

[2020-01-14 21:37] #56 closed

[2020-01-18 00:23] atymic commented on #82
Good point, will look into this and get back to you :)

[2020-01-24 10:49] xyfantis commented on #82
@vonec check this out https://github.com/laravel-notification-channels/fcm (thanks @atymic)

[2020-01-25 01:52] atymic commented on #82
The channel is offically released now over at https://github.com/laravel-notification-channels/fcm

Closing this :)

[2020-01-25 01:52] #82 closed

[2020-02-12 04:28] prakashchhetri commented on #75
hey @atymic
How should we start?

[2020-02-12 04:29] prakashchhetri opened #87 "SparrowSMS"

[2020-02-12 04:29] atymic commented on #75
Hey, i'm pretty flat out at the moment, but you are welcome to take a crack and i'll review :)

Clone the skeleton and implement the API
https://github.com/laravel-notification-channels/channels#workflow-for-new-channels

[2020-02-13 16:02] klimov-paul opened #88 "Mandrill Templates"
It would be nice to have a Madnrill notification channel support.
But not the one for raw email, like the old Laravel mail driver, which has been dropped at 6.0.
I am asking about Mandrill template rendering support. See:

https://mandrill.zendesk.com/hc/en-us/articles/205582507-Getting-Started-with-Templates
https://mandrillapp.com/api/docs/templates.JSON.html

There is an existing package, which

[2020-02-15 00:17] n3omaster opened #89 "FoxPush channel"
I´ll be working on it, BTW this seems to be some kind easy

https://api.foxpush.com/docs/#api-Campaigns-Create_Campaign

[2020-02-15 00:30] atymic commented on #89
Cool!

Looks like a good channel, please PR when you've got it done.

[2020-02-20 23:21] atymic commented on #62
Live now :)
https://github.com/laravel-notification-channels/rocket-chat

[2020-02-20 23:21] #62 closed

[2020-02-20 23:24] atymic commented on #88
We're also just volunteers, we have no capital to purchase said plans :(.
Unfortunately I don't think this is a good channel, due to it's expense and niche appeal.
You are of course welcome to maintain your own channel outside of LNC :)

[2020-02-20 23:24] #88 closed

[2020-02-21 03:59] dwightwatson commented on #16
Prepping this on the APN channel: https://github.com/laravel-notification-channels/apn/pull/79

Let anything exceptional fail loudly as it would anyway, and dispatch `NotificationFailed` events when we can determine that the notification wasn't delivered.

[2020-03-01 07:44] atymic opened #90 "Upgrade channels to support Laravel 7"
In preparation of laravel 7 release on 3rd march.

- [x] [46elks](https://github.com/laravel-notification-channels/46elks)
- [x] [all-my-sms](https://github.com/laravel-notification-channels/all-my-sms)
- [x] [apn](https://github.com/laravel-notification-channels/apn)
- [x] [authy](https://github.com/laravel-notification-channels/authy)
- [x] [aws-sns](https://github.com/laravel-notification-chann

[2020-03-04 16:07] renanwilliam opened #91 "Google Hangouts Chat"
I would like to integrate notifications to Google Hangouts Chat Rooms

[2020-03-04 21:38] atymic commented on #91
AFAIK Hangouts is meant to be shutting down soon, so not sure it's worth having it as a channel?

[2020-03-04 21:44] renanwilliam commented on #91
I not referring to classical hangouts, it's the Gsuite Hangouts Chat:
Look at: https://gsuite.google.com/products/chat/

There's no plans to shutting down.

[2020-03-04 21:46] atymic commented on #91
Ahh, my bad. Google isn't very clear :)
In that case I'd b happy to have it as a channel. Feel free to clone the skeleton and PR for review :)

[2020-03-11 00:28] klimov-paul commented on #16
Despite Laravel introduces `NotificationFailed` event it is never used inside its core. None of the standard notification channels trigger it.
Its usage inside the particular notification channel creates inconsistency with Laravel core.

Also suppressing of the actual notification channel error is not desirable for queued notifications.
See: https://github.com/laravel-notification-channels/twilio/

[2020-03-11 00:39] atymic commented on #16
It's kind of hard situation - if you're using queues, having the exception thrown is fine - it will be reported and can be retried later.

The issue is for those not using queues, an exception when sending a notification will trigger a fatal error, and break the execution flow (which is generally not desired - it should probably be reported (ie using `report()`) but not break the flow.

[2020-03-11 12:45] klimov-paul commented on #16
This is debatable. Take "forgot password" usecase, for example: user enters his email and system sends a notification with reset link inside of it. In case sending failed the whole use case has failed, and you should notify the user about it right away instead of pretending everything is OK and ask him to check his email box.

Same situation with SMS based authentication flow, when a text message

[2020-03-11 19:38] ossycodes opened #92 "New Channel Suggestion - AfricasTalking (https://africastalking.com/)"
[AfricasTalking](https://africastalking.com/) is one of the largest communications solutions in Africa,
here is the link to the provider's site `https://africastalking.com/`
and a link to the documentation `https://build.at-labs.io/docs/sms%2Foverview`

[2020-03-11 22:00] atymic commented on #92
We'd be happy to accept this channel!
Feel free to PR :)

[2020-03-11 22:19] atymic commented on #16
I guess the issue is really the inconsistency between sync and queued notification. For example, your examples will look fine to the user if they are queued, but fail to send.

Do keep in mind that @themsaid is the one of the laravel core members as well (who is suggesting that an event should be used).

cc @irazasyed @barryvdh for thoughts?

[2020-03-12 12:19] ossycodes commented on #92
Hello atymic, I have followed the  workflow for new channel, located here https://github.com/laravel-notification-channels/channels, I however am unable to create a PR, see image
![issue](https://user-images.githubusercontent.com/55060799/76520868-04e75c80-6464-11ea-8e23-7981cc41950d.PNG)

[2020-03-12 12:21] ossycodes commented on #92
This is the link to Africastalking channel repository https://github.com/ossycodes/africastalking

[2020-03-12 23:40] vonec commented on #16
facing a similar situation with fcm notification channel. i think the best way to handle is to have an event fired so that the developer can handle the situation at his will rather than throwing an exception.

[2020-03-15 04:03] ossycodes commented on #92
Hey,

I wrote a notifications driver to send sms via AfricasTalking.

Are you interested in publishing it to your website and move the code in your organisation?

You can find it here: https://github.com/ossycodes/africastalking

[2020-03-15 20:42] atymic commented on #92
Please PR your code here:
https://github.com/laravel-notification-channels/africastalking

Thanks!

[2020-03-17 18:03] #92 closed

[2020-03-23 10:49] dishantmehta-easternts opened #93 "Unable to send FCM android push using setTopic("ALL") method -> "No FCM token found for notifiable.""
When we want to broadcast any information to all our user, we would want to use setTopic($topic_name) method and passing "ALL" as topic name.

However when we try to use this method, it is still asking for the token which contradicts to the fact that Firebase do not require token when we are using "topic"!

Reference Link : https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages

[2020-04-02 13:39] shirshak55 commented on #16
Most of the cases do use email / sms which is queued anyway. And silencing error is not cool. And worst part is by default it doesn't even get inside log etc like exceptions are dismissed in thin air. Many people might not know they should use event to handle exception so I am completely against channel.  Events based error handling routes exception to other listeners etc which can be potential pe

[2020-04-02 13:49] vonec commented on #16
even then the exceptions should be handled in some way, so its not the point of performance but the choice to identify

[2020-04-12 09:04] Yazan-Stash opened #95 "Basecamp Campfire"
Hi there, I'd like to PR a channel to integrate with Basecamp 3 Campfires, it's kinda like channels in Slack, and I think other people would benefit from this as well.

[2020-04-13 22:24] samatcd opened #96 "Slack"
I'd like have Slack as a notification channel. https://api.slack.com/

[2020-04-13 22:38] atymic commented on #96
There's already a built in slack channel.

[code]

[2020-04-13 22:38] #96 closed

[2020-04-16 17:32] Tob0t opened #97 "Add Microsoft Teams Channel"
I just created a channel for [Microsoft Teams](https://products.office.com/de-at/microsoft-teams/group-chat-software) what I would like to share with you.

[2020-04-16 19:27] Tob0t commented on #97
So I followed the instructions from https://github.com/laravel-notification-channels/channels by
* creating a template from the skeleton
* implementing the logic
* forking the channels repo
* adding the channels repo as remote
* create new branch and pushing

However, creating a PR is not possible due to the following error:
`There isn’t anything to compare.
laravel-notification-channels:master an

[2020-04-24 01:17] dmyers opened #98 "Instagram"
https://www.instagram.com/developer/

[2020-04-24 01:52] dmyers commented on #98
Nevermind, it seems you have to be a partner to be able to get access to the content publishing APIs. :(

https://developers.facebook.com/docs/instagram-api/guides/content-publishing

[2020-04-24 01:52] #98 closed

[2020-04-26 01:01] #90 closed

[2020-04-26 01:09] atymic commented on #97
Hey :)

Thanks for the channel. I had a quick look and it looks good. I'll create a blank repo for you, and you can PR there.

https://github.com/laravel-notification-channels/microsoft-teams

Steps:
1) Clone repo above
2) Copy paste all your files into the clone folder, commit on a branch and PR agaisn't the repo :)

[2020-04-26 01:11] atymic commented on #97
Launch checklist here:
https://github.com/laravel-notification-channels/microsoft-teams/issues/1

[2020-04-26 22:23] wapacro opened #100 "Add Swisscom SMS Channel"
Hey there

I'm using [Swisscom's SMS API](https://digital.swisscom.com/products/text-messaging/info) in a project and would like to share the code for the Laravel Notification integration. Hopefully someone can use it and profit from my work 😄.

I tried to add the forked channels repo as a remote and do a pull request, but it doesn't seem to work as expected. Guess I'm doing something wrong?

Anyw

[2020-04-27 20:45] Tob0t commented on #97
Thanks for the instructions, I already create a PR on that repo: https://github.com/laravel-notification-channels/microsoft-teams/pull/2

[2020-04-28 10:04] atymic commented on #97
Closing this :D Channel approved

[2020-04-28 10:04] #97 closed

[2020-04-28 10:07] atymic commented on #100
Thanks for the PR. Yes, we need to update the instructions, will add a issue for that.

[2020-04-30 11:00] dagariyaharsh opened #101 "Send SMS and want to make call using exotel"
I would like to integrate exotel sms and ivr calling api in my app. So any one can please help me?`

[2020-04-30 11:01] atymic commented on #101
This isn't a repo for programming help.

[2020-04-30 11:01] #101 closed, assigned to nobody

[2020-06-07 11:17] rajendrap123 commented on #45
+1 for this. @atymic

[2020-06-07 11:33] atymic commented on #45
Feel free to PR a new channel :)

[2020-06-07 12:05] rajendrap123 commented on #45
@atymic  I am new to it and i am afraid i can just help with new channel correctly.

If you could help me, I can build one in your direction.

if that possible if you could guide me through it?

@saidbakr  are you up for this?

Thanks

[2020-06-07 12:25] rajendrap123 commented on #87
@prakashchhetri  he brother, i can help you with this, lets connect.

[2020-06-07 12:43] rajendrap123 commented on #45
@atymic Ok, so i did small research, and I think i can build two notification channels; "Viber" and "SparrowSMS".

[2020-06-08 23:42] atymic commented on #45
Awesome @rajendrap123

[2020-06-09 05:13] rajendrap123 commented on #45
@atymic  is that possible if you could guide me of getting the viber user id from viber APIs?

thanks in advance

[2020-06-12 23:44] rajendrap123 commented on #45
@atymic

I almost have viber notification channel ready.

But i am unsure of to fork this repo and push to new branch? can anyone guide me through it?

Thanks in advance

[2020-06-26 09:08] Pdgondaliya commented on #75
how to integration burstsms api in laravel

[2020-07-26 19:22] tomsgad opened #102 "Infobip Channel"

[2020-07-28 17:15] tehCh0nG opened #104 "Signal"
I'm working on integrating Signal messenger to enable end-to-end encrypted notifications. As far as I know this would require the use of Signal-cli:
https://github.com/AsamK/signal-cli

Website:
https://signal.org

[2020-08-05 12:41] mickby opened #105 "Channel for textAnywhere."
Hi,

Is anyone looking at a channel for textAnywhere?

[2020-08-05 22:34] atymic commented on #105
No, but you're welcome to PR one :)

[2020-08-11 04:12] tomsgad commented on #102
Channel Added [Infobip Channel](https://github.com/laravel-notification-channels/infobip)

[2020-08-11 04:12] #102 closed, assigned to nobody

[2020-08-12 00:06] tehCh0nG commented on #104
Added pull request #106

[2020-09-08 10:20] atymic opened #107 "Laravel 8 Support"

[2020-09-08 10:26] irazasyed commented on #107
[Telegram 0.5.0](https://github.com/laravel-notification-channels/telegram/releases/tag/0.5.0) & [Facebook 0.2.0](https://github.com/laravel-notification-channels/facebook/releases/tag/0.2.0) Channels were released with Laravel 8 support yesterday. Thanks!

[2020-09-08 10:29] atymic commented on #107
Thanks (and sorry for the pings, did all of the repos in a script)

[2020-09-08 23:15] antonkomarev commented on #107
[Rocket.Chat 0.3.0](https://github.com/laravel-notification-channels/rocket-chat/releases/tag/v0.3.0) has been released with Laravel 8 support.

[2020-09-12 11:10] prakashchhetri opened #108 "Mattermost"
Would love to collaborate if there is anyone.

[2020-09-12 11:12] prakashchhetri commented on #87
@rajendrap123 sure bro. How would you like to communicate?

[2020-09-13 22:49] irazasyed commented on #72
Seems like the project is no longer active. Closing!

[2020-09-13 22:49] #72 closed

[2020-09-16 03:03] rajendrap123 commented on #87
@prakashchhetri , let's discuss here. thanks.

[2020-12-04 14:30] remipelhate opened #110 "Postmark Templates"
Hi there! I've been working on a project lately that sends out mails using [Postmark Templates](https://postmarkapp.com/email-templates). Would you guys be interested to have this available as a notification channel? I wouldn't mind pulling the implementation out of the project so others developers could use it as well ;)

[2020-12-04 19:48] roydeanjr opened #111 "Add bandwidth channel"
Please incorporate https://github.com/ankurk91/bandwidth-notification-channel as an official laravel-notification-channel.

Additional information availablility:
API Docs: https://dev.bandwidth.com/

Justification: best pricing I have seen!

[2020-12-05 00:42] atymic commented on #111
Is there a reason why it's archived?
Feel free to PR :)

[2020-12-05 04:18] roydeanjr commented on #111
Not a clue. Will try to reach out to the developer @ankurk91

[2020-12-05 05:18] ankurk91 commented on #111
I am here 🤓, I can transfer the repo ownership to this organisation.

Not sure if it would break existing installations.

What is the best way?

The repo was archived, because I have no time to maintain it.

[2020-12-05 05:21] roydeanjr commented on #111
Thank you for the reply @ankurk91

Is this channel working at the moment?

[2020-12-05 05:22] ankurk91 commented on #111
Yes, the channel is working fine, even tested on php 8.0

[2020-12-05 05:24] roydeanjr commented on #111
Super! Thank you! I am trying to get it added to a restaurant management application called tastyigniter. It would be great if this channel is adopted by @atymic . Not sure what it takes to maintain, but I will review once it gets transferred.

[2020-12-07 02:10] atymic commented on #110
Hey Remi, that would be awesome!
Feel free to PR and I will review 👍

[2020-12-09 10:38] remipelhate commented on #110
Perfect. Not sure if I'll be able to set it up this week, but I'm working on it ;)

[2020-12-23 14:19] prakashchhetri commented on #108
Duplicate of https://github.com/laravel-notification-channels/channels/issues/60

[2020-12-23 14:19] #108 closed, assigned to nobody

[2020-12-31 18:10] darbaoui opened #112 "Unifonic Notification channel"
I would like to add a  notification channeI for [unifonic](https://www.unifonic.com)

[2021-01-17 13:06] maukoese opened #114 "BongaSMS Notification Channel"
#115
I have created a notification channel for [Bonga SMS](http://bongasms.com) that leverages a [PHP SDK](https://github.com/osenco/bongasms) I created for this purpose.

[2021-01-17 14:53] aurawindsurfing commented on #67
Hi, I would like to update https://github.com/laravel-notification-channels/gammu channel to be compatible with version 8 of laravel. I will make a pull request. Will that be sufficient to bring this channel back to life? Thanks!

[2021-01-17 21:57] atymic commented on #67
Sure @aurawindsurfing
I can undeprecate it in that case 👍

[2021-01-25 02:22] JonPurvis opened #116 "LinkedIn Notification Channel"
A suggestion for a new Channel for someone to tackle: LinkedIn

It'd be great if you could easily post to a company page from it.

[2021-01-25 19:43] #116 closed, assigned to nobody

[2021-02-28 16:31] frankiejarrett opened #117 "Expo Channel"
The Expo Push Notifications service provides a unified HTTP API to send push notifications to Android (FCM) and iOS (APN) devices.

https://docs.expo.io/push-notifications/sending-notifications/

[2021-03-03 15:44] lucabartoli commented on #91
Edit: my bad. Just saw the PR

Anyone going on here?
Otherwise I will probably create a channel for google chat, based on webhooks

[2021-04-01 17:43] alphaolomi opened #118 "New Channel Suggestion - Beem Africa (https://beem.africa/)"
# Beem Africa

Beem Africa is one of the largest communications solutions in Africa,

Links

Provider's site https://beem.africa/
Coverage area https://beem.africa/coverage/
Documentation https://docs.beem.africa/

[2021-04-02 17:16] jonodonovan opened #119 "LinkedIn Channel"
Share on LinkedIn

https://docs.microsoft.com/en-us/linkedin/consumer/integrations/self-serve/share-on-linkedin

[2021-04-13 03:35] frankieeedeee commented on #91
Hey @lucabartoli! Have you started on the Google chat channel? Would be keen to help out if you needed it!

Just for absolute clarification (because Google's name changes for this have been so confusing!!), we're all talking about **Google Chat, circa 2019** (formally Hangouts Chat), which forms a core part of Google Workspace (formally G Suite, formally Google Apps)? 😂

**Relevant Documentation:*

[2021-05-18 01:14] atymic commented on #119
Feel free to PR

[2021-05-18 01:15] atymic commented on #118
Feel free to PR :)

[2021-05-18 01:15] atymic commented on #114
Closed by #115

[2021-05-28 07:16] nicko170 commented on #117
Hello @fjarrett.. I saw this mid-way through a project, so have submitted a PR!

https://github.com/laravel-notification-channels/channels/pull/121. Let me know your thoughts on the interface, and if anything else should be added! :-)

[2021-06-13 17:40] mhdcodes commented on #16
Having a problem with this `NotificationFailed` event not being triggered at all. after some research inside the core code. I found out this event is not being implemented at all. just sitting there.

Here is my use case I have a single notification class with multiple channels `mail, SMS, database` handled by `SendQueuedNotifications` and I need to track the delivery status for each channel ('SMS

[2021-06-14 11:24] mhdcodes commented on #16
@themsaid

don't you think the `failed` method inside a `Notification` class should have the following signature:

[code]
instead of
[code]

This will give us all the necessary params to fire a `NotificationFailed` event from within the notification `failed` method.

[code]

[2021-06-15 11:40] shawnhooper opened #124 "No More Twilio?"
Good morning.

The Twilio channel seems to have disappeared from GitHub.  It's still in your documentation on the website, which is showing the missing repo:

![image](https://user-images.githubusercontent.com/2073284/122046311-c0f0af00-cdac-11eb-89cc-4d3620084e61.png)

Can I get that channel back?

[2021-06-15 11:46] lnpbk commented on #124
I was just about to post the same. Completely gone for me

[2021-06-15 12:03] shawnhooper commented on #124
@lnpbk  I just set up a copy of the repo from my last build (yesterday).  Feel free to use it until we hear back on this ticket.

If you'd like to use it, change your composer.json require line to:

`
"laravel-notification-channels/twilio": "dev-main",
`

and add a custom repository:

[code]

[2021-06-15 12:29] kalemdzievski commented on #124
I was wondering the same thing.

[2021-06-15 13:03] stephenhoult commented on #124
Just an FYI.

The repo was still available this morning at 9.32am UTC but had gone sometime before 10:16am UTC.

[2021-06-15 14:03] drakulovski commented on #124
This issue should be marked as the highest priority, production code affected.

[2021-06-15 16:07] kalemdzievski commented on #124
@atymic not sure who to tag here, but will you be able to give us any info on what happened with the repo, or at least referr us to someone how knows. Thanks!

[2021-06-15 17:38] olivernybroe commented on #124
I tweeted about this also, but haven't gotten an answer from somebody who knows yet 🙂
https://twitter.com/OliverNybroe/status/1404790743764541444

[2021-06-15 19:13] erikgall commented on #124
If needed by anyone for a temporary fix: https://github.com/erikgall/laravel-twilio-notification-channel

[code]

[2021-06-15 19:39] olivernybroe commented on #124
@erikgall thanks 👍

Does anyone have a clone of the repo? Not only the composer data. E.g. having the tests folder and so on.

[2021-06-15 21:05] erikgall commented on #124
@olivernybroe I can look into getting the tests and anything else still missing, into that repo of mine.. but my bigger concern is why this happened.. Do we still not have any idea what is going on and why this was deleted/made private?

[2021-06-15 21:07] atymic commented on #124
Investigating now, sorry only 7am here in australia.

[2021-06-15 21:08] erikgall commented on #124
Thank you @atymic

[2021-06-15 21:09] atymic commented on #124
Looks like it was deleted by one of the maintainers, working on restore atm.

![Screen Shot 2021-06-16 at 07 07 55](https://user-images.githubusercontent.com/50683531/122123679-9ae11280-ce71-11eb-978b-4c639bb342dd.png)

[2021-06-15 21:13] atymic commented on #124
Unfortunately it doesn't seem to be able to be recoverable. I have reached out to github support, if anyone has any contacts feel free to point them to ticket #1195707

![Screen Shot 2021-06-16 at 07 12 19](https://user-images.githubusercontent.com/50683531/122124139-37a3b000-ce72-11eb-80e9-db96c219596a.png)

[2021-06-15 21:16] erikgall commented on #124
@atymic That's not good. Do you happen to have a local copy of the repo? If not hopefully GitHub support and restore it.

Mostly out of curiosity but I think we all are interested in knowing why this got deleted by the one maintainer.

[2021-06-15 21:16] dan-lee commented on #124
ping @fwartner

[2021-06-15 21:18] atymic commented on #124
Problem is if I recreate it, we'll loose all issues, PRs, etc. I also only have a copy from Apr 2020, which is def not the latest.

[2021-06-15 21:20] fwartner commented on #124
WTF?! I didn't did anything like that!
Must be something wrong with GitHub.

I am so sorry for that to happen!
If there's anything I can help with, let me know!

I really have no idea, how this could happen!

But also I noticed that there are several repositories missing on my personal profile..

[2021-06-15 21:21] atymic commented on #124
@fwartner maybe your account was hacked. I would suggest securing it ASAP then.

[2021-06-15 21:22] fwartner commented on #124
ON IT!

I also try to get in contact with GitHub to investigate..

[2021-06-15 21:24] bramdevries commented on #124
@fwartner Could you check if the repository is listed in https://github.com/settings/deleted_repositories?

[2021-06-15 21:27] atymic commented on #124
I've also removed the ability for maintainers to delete repos now as well.
Waiting on github support ATM.

[2021-06-15 21:32] fwartner commented on #124
@bramdevries Nope. There are only repositories deleted from my personal account..

Is there any way to restore the repository on org-level?

[2021-06-15 21:33] fwartner commented on #124
Found it:

https://docs.github.com/en/github/administering-a-repository/managing-repository-settings/restoring-a-deleted-repository#restoring-a-deleted-repository-that-was-owned-by-an-organization

[2021-06-15 21:34] atymic commented on #124
Unfortunately I tried that, it's not in that list.

[2021-06-15 21:36] fwartner commented on #124
That is strange..
Ping @mpociot @themsaid Can anyone of you guys check if the repo is still listed?

[2021-06-15 21:37] atymic commented on #124
I think it's because it was forked, therefore it can't be restored. I'm an org owner so I would be able to restore it.

"A deleted repository can be restored within 90 days, unless the repository was part of a fork network that is not currently empty."

[2021-06-15 22:18] shawnhooper commented on #124
Is it possible to look up the forks and see who has the most recent one?

[2021-06-15 22:20] shawnhooper commented on #124
I was able to find a cached copy (Google) of the Issues tab from June 8th.   Unfortunately the details on each issue don't appear to be cached.

![image](https://user-images.githubusercontent.com/2073284/122130757-1b6a2980-ce06-11eb-8422-1580d3825a75.png)

[2021-06-15 22:21] atymic commented on #124
GitHub support responded and advised it has been restored. Hopefully packagist and other downstream services pick that up shortly.

[2021-06-15 22:27] shawnhooper commented on #124
@atymic Thank you for addressing this so quickly.  Appreciate this was probably not how you wanted to wake up this morning :)

[2021-06-15 22:41] kalemdzievski commented on #124
@atymic Thank you for resolving this quickly. Have a great day!

[2021-06-16 04:42] olivernybroe commented on #124
Thank you @atymic! ♥️

@fwartner hope you figure out what happened and gets all your projects restless 😊

[2021-06-17 00:20] atymic opened #125 "Channel Maintainer Audit"
We should check that all the channels have active maintainers, otherwise deprecate them.
https://github.com/laravel-notification-channels/channels/issues/124

[2021-06-17 00:20] #124 closed, assigned to nobody

[2021-06-18 12:14] rickwest commented on #105
Rather late to the party, but I've just started work on this 👍🏻

[2021-08-31 09:29] sts-ryan-holton opened #127 "Bug: Firebase Notification Channel POST https://oauth2.googleapis.com/token` resulted in a `400 Bad Request` invalid JWT"
Hi, i've recently implemented the Laravel Firebase Notifications into my Laravel 8 project. It was working initially upon deployment after configuring my credentials, but now after the weekend I've got loads of failed jobs in my database (jobs are set up in my project to dispatch notifications through my channels) whereby the error is relating to an invalid grant for the token endpoint on Google?

[2021-09-22 08:28] loranger opened #129 "Matrix Channel"
Notifying on [matrix](https://matrix.org/) would be awesome

[2021-11-17 12:48] alexjustesen opened #130 "Working on a xMatters Channel"
Will be working on a new channel to add support for [xMatters](https://help.xmatters.com/xmapi/index.html) (similar to Pagerduty).

[2021-11-18 05:31] thinkverse commented on #119
This api requires the user to be authenticated at least once via OAuth first with a `w_member_social` scope before sharing.

How would that be handled in a notification? Tried looking for another notification package that requires the same authorization scenario - might be staring me in the face, but didn't find any that uses it. Most seems to use a pre-generated access token or client and secret

[2021-12-29 09:06] dlsimple opened #131 "WXWork"
https://open.work.weixin.qq.com/api/doc/90000/90136/91770

[2022-01-06 23:36] dontfreakout opened #134 "BulkGate SMS"
I would like to add [BulkGate SMS](https://www.bulkgate.com/en/) channel.

[2022-01-07 00:12] dontfreakout commented on #134
Hi, I followed the instructions from (https://github.com/laravel-notification-channels/channels)

 * Create project from skeleton
 * Implementing channel logic
 * Fork this repo, add it as a remote, and push the channel to a branch.
 * Submit a new PR against this repo for review.

However, creating PR is not possible that way. Github shows this message:
[code]
Now I'm not sure how to submit a PR

[2022-01-07 08:44] dontfreakout commented on #134
I figured it out, PR from the new branch worked without a problem :)

[2022-01-21 02:49] thomasrd1 opened #136 "Request - Atlassian OpsGenie"
Request for someone to consider adding Atlassian OpsGenie

Found this package
https://github.com/artkonekt/opsgenie-laravel

[2022-03-11 13:23] giacomomasseron commented on #105
@rickwest are you still working on this channel?

[2022-03-14 14:02] khakimjanovich opened #138 "Want to implement eskiz sms sending api"
This adds the Eskiz (https://eskiz.uz/sms) channel.

References:

https://documenter.getpostman.com/view/663428/RzfmES4z?version=latest#intro

[2022-04-13 16:51] SDezineUK opened #139 "New Channel Suggestion - Wonderpush"
Wonderpush is a push notification service

https://www.wonderpush.com/
https://docs.wonderpush.com/docs/wonderpush-overview

[2022-06-02 04:47] sawirricardo opened #140 "if anyone is in need of whatsapp... https://github.com/sawirricardo/laravel-whatsapp"
Hopefully someone will find this useful
https://github.com/sawirricardo/laravel-whatsapp

[2022-07-05 01:08] Parables opened #141 "Arkesel Sms https://arkesel.com/"
I have successfully implemented a notification channel for Arkesel.

I will open a PR for this soon. Thanks very much

[2022-07-12 11:59] benahmetcelik opened #143 "NetGSM Channel Is Null"
Hi, Is NetGSM Channel Empty?

[2022-08-04 10:57] krizzdev commented on #95
Could this be a solution? https://github.com/joecampo/laravel-notification-basecamp

[2022-08-04 11:14] Yazan-Stash commented on #95
Yeah, I guess. I'll go ahead and close this one.

[2022-08-04 11:14] #95 closed

[2022-08-15 07:05] zakkiblue commented on #140
cara validasi payloads dari whatsapp webhooks bagaimana ya , saya coba [begini](https://pastebin.com/8xPtHW1C) tapi selalu return false

[2022-08-16 09:18] sawirricardo commented on #140
https://github.com/sawirricardo/whatsapp-php/blob/main/src/Webhook.php#L247

[2022-08-21 13:08] cable8mm opened #144 "NCP SENS Notification Channel suggestion (seungmun/laravel-sens)"
Hey there

I'm using [NCP's SMS API](https://www.ncloud.com/product/applicationService/sens) in a project.

I was surprised that the already created package was not uploaded to laravel-notification-channels.

Introducing this package, which is already being used by some services in Korea, and we hope to be included in the channels.

I know the creators of this package, let me know if you need a PR

[2022-10-04 21:31] renanwilliam commented on #91
https://github.com/laravel-notification-channels/google-chat

[2022-10-04 21:31] #91 closed